<div th:fragment="about">
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">A Collaborative Photography Project</h2>
                    <hr class="divider divider-light"/>
                    <p class="text-white-75 mb-4">
                        Snapshot Stories is a unique photography project that celebrates storytelling through a collaborative approach.<br><br>
                        Here's how it works:<br>
                        1. Each participant receives a camera from a friend.<br>
                        2. They take a meaningful photo that includes both the giver (previous participant) and the receiver (current participant) of the camera.<br>
                        3. Participants write a brief message about themselves and acknowledge the person who gave them the camera.<br>
                        4. The camera is passed on to another person, who repeats the process.<br><br>
                        This ongoing chain creates a collection of photos and personal stories, showcasing the diversity of human experiences. Snapshot Stories demonstrates how a simple camera can connect people and share stories within communities and beyond. Join us in celebrating the power of photography to bring people together.
                    </p>
                    <a class="btn btn-light btn-xl" href="#instructions">How to do it?</a>
                </div>
            </div>
        </div>
    </section>
</div>
