<div th:fragment="contact">
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider"/>
                    <p class="text-muted mb-5">Person that gave you this camera have already filled this form (hopefully!) so now it is your turn to fill it before paying it forward! Please fill this form before passing the camera to the next person.</p>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form id="contactForm" action="/submitForm" method="post">
                        <!-- Name or Nickname input-->
                        <div class="mb-3">
<!--                            <label for="name" class="form-label">Your Name or Nickname</label>-->
                            <p class="text-muted">Please enter your full name or the nickname you are commonly known by. If people know you more by a nickname, feel free to use that.</p>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Your Name or Nickname" data-sb-validations="required"/>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name or nickname is required.</div>
                        </div>
                        <!-- Instagram handle input-->
                        <div class="mb-3">
<!--                            <label for="instagram" class="form-label">Your Instagram</label>-->
                            <p class="text-muted">Enter your Instagram account name. This will help us connect with you on social media and see your shared stories.</p>
                            <input class="form-control" id="instagram" name="instagram" type="text" placeholder="Your Instagram handle..." data-sb-validations="required"/>
                            <div class="invalid-feedback" data-sb-feedback="instagram:required">An Instagram handle is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="mb-3">
<!--                            <label for="email" class="form-label">Email Address</label>-->
                            <p class="text-muted">We assure you that this is only for us to get back to you. No other emails will be sent, and we will not use any form of automated responses or bots.</p>
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" data-sb-validations="required,email"/>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- TEXT1 input-->
                        <div class="mb-3">
<!--                            <label for="text1" class="form-label">Who gave you this camera?</label>-->
                            <p class="text-muted">Please describe in at least 160 and less than 200 characters the person who gave you the camera. Share a little about how you received it and any interesting details you want to include.</p>
                            <textarea class="form-control" id="text1" name="text1" placeholder="Who gave you this camera?" data-sb-validations="required" oninput="updateCharacterCount(this, 'text1-count', 160)"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="text1:required">Please enter information here.</div>
                            <span class="pull-right label label-default" id="count_text1"></span>
                        </div>
                        <!-- TEXT2 input-->
                        <div class="mb-3">
<!--                            <label for="text2" class="form-label">Who are you going to give that camera to?</label>-->
                            <p class="text-muted">Write at least 160 characters about the person you plan to give the camera to next. Tell us who they are and why you chose them to continue the project.</p>
                            <textarea class="form-control" id="text2" name="text2" placeholder="Who are you going to give that camera to?" data-sb-validations="required" oninput="updateCharacterCount(this, 'text2-count', 160)"></textarea>
                            <div class="invalid-feedback" data-sb-feedback="text2:required">Please enter information here.</div>
                            <span class="pull-right label label-default" id="count_text2"></span>
                        </div>

                        <!-- Submit Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-xl" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
