<div th:fragment="contactMasthead">
    <header class="contactMasthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Leave a Trace!</h1>
                    <hr class="divider"/>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">
                        If you've already taken the picture all what is left is to fill the form below to let me know who you are and you can pass the camera to you friend!
                    </p>
                    <a class="btn btn-primary btn-xl" href="#contact">Let's do it!</a>
                </div>
            </div>
        </div>
    </header>
</div>
