<div th:fragment="instructions">
    <section class="page-section" id="instructions">
        <div class="container px-4 px-lg-5">
            <!-- Carousel -->
            <div id="instructionsCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel"
                 data-bs-interval="3500">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#instructionsCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Step 1"></button>
                    <button type="button" data-bs-target="#instructionsCarousel" data-bs-slide-to="1"
                            aria-label="Step 2"></button>
                    <button type="button" data-bs-target="#instructionsCarousel" data-bs-slide-to="2"
                            aria-label="Step 3"></button>
                    <button type="button" data-bs-target="#instructionsCarousel" data-bs-slide-to="3"
                            aria-label="Step 4"></button>
                </div>

                <!-- Carousel Items -->
                <div class="carousel-inner">
                    <!-- Step 1: Scan QR -->
                    <div class="carousel-item active">
                        <div class="row gx-4 gx-lg-5 justify-content-center mt-5 align-items-center">
                            <div class="col-lg-6 text-center">
                                <div class="mb-4">
                                    <h2 class="text-black mt-0">Step 1: Scan QR Code</h2>
                                    <hr class="divider divider-light"/>
                                    <p class="text-black-75 mb-4">
                                        Scan the QR code provided with your smartphone camera or QR code scanning app.
                                    </p>
                                </div>
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#qrCodeModal">
                                    QR Code?
                                </button>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="/assets/img/instructions/step1.jpeg" alt="Step 1 Image" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <!-- Step 2: Take a picture together -->
                    <div class="carousel-item">
                        <div class="row gx-4 gx-lg-5 justify-content-center mt-5 align-items-center">
                            <div class="col-lg-6 order-lg-2 text-center">
                                <div class="mb-4">
                                    <h2 class="text-black mt-0">Step 2: Take a Picture Together</h2>
                                    <hr class="divider divider-light"/>
                                    <p class="text-black-75 mb-4">
                                        Take a photograph together with the camera provided. Ensure both of you are in
                                        the frame.
                                    </p>

                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#instructionsModal">
                                        How to Use a Disposable Camera
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1 text-center">
                                <img src="/assets/img/instructions/step2.jpeg" alt="Step 2 Image" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <!-- Step 3: Enter your information -->
                    <div class="carousel-item">
                        <div class="row gx-4 gx-lg-5 justify-content-center mt-5 align-items-center">
                            <div class="col-lg-6 text-center">
                                <div class="mb-4">
                                    <h2 class="text-black mt-0">Step 3: Enter Your Information</h2>
                                    <hr class="divider divider-light"/>
                                    <p class="text-black-75 mb-4">
                                        Using the provided form or link, enter your details such as your name, a brief
                                        description, and the name of the person who gave you the camera.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center">
                                <img src="/assets/img/instructions/step3.jpeg" alt="Step 3 Image" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <!-- Step 4: Give the camera to your friend -->
                    <div class="carousel-item">
                        <div class="row gx-4 gx-lg-5 justify-content-center mt-5 align-items-center">
                            <div class="col-lg-6 order-lg-2 text-center">
                                <div class="mb-4">
                                    <h2 class="text-black mt-0">Step 4: Pass the Camera</h2>
                                    <hr class="divider divider-light"/>
                                    <p class="text-black-75 mb-4">
                                        Once you have completed your entry, pass the camera along to a friend or
                                        acquaintance, ensuring they follow the same steps.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1 text-center">
                                <img src="/assets/img/instructions/step4.jpeg" alt="Step 4 Image" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <button class="carousel-control-prev custom-carousel-control" type="button"
                        data-bs-target="#instructionsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next custom-carousel-control" type="button"
                        data-bs-target="#instructionsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>


    </section>
    <!-- Fill the form button -->
    <div class="container text-center mt-5">
        <p class="text-black-75 mb-4">All done? Nothing left to do but to go and...</p>
        <a class="btn btn-primary btn-xl" href="/contact">Fill the form</a>
    </div>
    <!-- The Camera Modal -->
    <div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="instructionsModalLabel">How to Use a Disposable Camera</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p><strong>1. Advance the Film</strong></p>
                    <p>Turn the film advance wheel until it stops to prepare the camera for the next shot. This ensures
                        the film is in the correct position.</p>

                    <p><strong>2. Steady Your Hand and Watch Your Fingers</strong></p>
                    <p>Hold the camera steady with both hands. Use the viewfinder window to frame your shot, not the
                        lens window. Keep fingers away from both the lens and flash.</p>

                    <p><strong>3. Consider the Light and Use the Flash</strong></p>
                    <p>Use the flash in low light or indoors. Slide the flash switch or press the button to activate it
                        before shooting. Good lighting improves photo quality.</p>

                    <p><strong>4. Get Closer to Your Subject</strong></p>
                    <p>Stand 5-10 feet from your subject for clear photos. There is no zoom function, so move closer
                        physically. You are the zoom!</p>

                    <p><strong>5. Make Every Shot Count</strong></p>
                    <p>You have a limited number of exposures, so think before you shoot to capture the best moments.
                        Plan your shots to avoid wasting film.</p>

                    <p><strong>6. Protect Your Camera</strong></p>
                    <p>Keep the camera dry and free from dust. Store it in a safe place to avoid damage until all shots
                        are taken. Treat it with care to ensure good photo quality.</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The QR Modal -->
    <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="qrCodeModalLabel">About the QR Code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <p>We printed a QR code on each camera for your ease of use and to help us track which camera you
                        are using. It is simple to use because all you need to do is point your smartphone at it, and it
                        will link you to our page. But since you are already here, you must know this already.</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <style>
        .custom-carousel-control {
            position: absolute;
            top: auto;
            bottom: -15px; /* Adjust as needed */
            width: 5%;
        }

        .carousel-control-prev.custom-carousel-control {
            left: 43%;
        }

        .carousel-control-next.custom-carousel-control {
            right: 43%;
        }
    </style>

</div>

