<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header"></head>

<body >
<!-- Navigation Fragment-->
<div th:include="fragments/nav :: nav"></div>

<!-- Masthead -->
<div th:include="fragments/contactMasthead :: contactMasthead"></div>

<!-- Contact Section -->
<div th:include="fragments/contact :: contact"></div>



<div th:include="fragments/footer :: footer"></div>

<!-- Include External JavaScript File -->
<script src="/js/formHandler.js"></script>


</body>
</html>