<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header"></head>

<body id="page-top">
<!-- Navigation Fragment-->
<div th:include="fragments/nav :: nav"></div>

<!-- Masthead -->
<div th:include="fragments/masthead :: masthead"></div>

<!-- About Section -->
<div th:include="fragments/about :: about"></div>

<!-- Instructions Section -->
<div th:include="fragments/instructions :: instructions"></div>

<!-- Footer-->
<div th:include="fragments/footer :: footer"></div>

<!-- Include External JavaScript File -->
<script src="/js/formHandler.js"></script>



</body>
</html>